.jumbotron {
  text-align: center;
  color: #EBF2FA;
  background-color: #679436;
}

body {
  background-color: #EBF2FA;
}

button {
  background-color: #A5BE00;
  color: black;
}

.well {
  background-color: #427AA1;
  color: #EBF2FA;
}

#map {
  display: none;
  height: 400px;
  width: 100%;
}
